@font-face {
  font-family: "iconfont"; /* Project id 3870193 */
  src: url('iconfont.woff2?t=1674909810348') format('woff2'),
       url('iconfont.woff?t=1674909810348') format('woff'),
       url('iconfont.ttf?t=1674909810348') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yongyan:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-shijian1:before {
  content: "\e8c5";
}

.icon-youshuangjiantou:before {
  content: "\e6c9";
}

.icon-double-arrow-right:before {
  content: "\ea50";
}

.icon-youjiantou:before {
  content: "\e631";
}

.icon-24gl-folderOpen:before {
  content: "\eabe";
}

.icon-shuidi:before {
  content: "\e682";
}

.icon-a-151-shuidi:before {
  content: "\e8dd";
}

.icon-keaide:before {
  content: "\e601";
}

.icon-xiai:before {
  content: "\e602";
}

.icon-aixin:before {
  content: "\e640";
}

.icon-github:before {
  content: "\e709";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-dianhua:before {
  content: "\eb23";
}

.icon-shuangxiajiantou-:before {
  content: "\e629";
}

.icon-shousuoxiajiantou:before {
  content: "\e679";
}

.icon-moban:before {
  content: "\e61d";
}

.icon-ic_droptohistory:before {
  content: "\e605";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-xinfengtianchong:before {
  content: "\e69e";
}

.icon-tongxunlu:before {
  content: "\e61b";
}

